body{
    padding-top: 70px;
}

.modular-item{
    border-radius: 4px;
    margin: 3px;
    border: 1px #eee solid;
    background-color: #f8f8f8;
    height: 200px;
    position: relative;
}

.timer-input{
    width: 70%;
}

.timer-bottom-row{
    position: absolute;
    bottom: 8px;
    left: 14px;
    right: 14px;
}

.timer-toggle-options-container{
    text-align: right;
}

.timer-toggles{
    display: inline-block;
}

.project-dropdown{
    display: inline-block;
}

.project-dropdown-prompt{
    display: inline-block;
}

.timer-label{
    min-width: 80px;
    display: inline-block;
}

.timer-start-container{
    position: absolute;
    bottom: 0;
}

.timer-input-row{
    margin-top: 10px;
}