body{
    padding-top: 70px;
}

.modular-item{
    border-radius: 4px;
    margin: 3px;
    border: 1px #eee solid;
    background-color: #f8f8f8;
    height: 235px;
    position: relative;
}

.timer-input{
    width: 100%;
}

.timer-bottom-row{
    position: absolute;
    bottom: 16px;
    left: 14px;
    right: 14px;
}

.timer-toggle-options-container{
    position: absolute;
    bottom: 0;
}

.timer-toggle{
    display: inline-block;
}


.project-dropdown{
    display: inline-block;
}

.project-selection{
    margin-top: 18px;
}


.project-dropdown-prompt{
    display: inline-block;
}

.timer-label{
    min-width: 80px;
    display: inline-block;
}

.timer-start-container{
    text-align: right;
}

.timer-input-row{
    margin-top: 10px;
}

.modal-label{
    padding-top: 5px;
}
